# Python
*.pyc
*.pyo
*.pyd
__pycache__/
*.env
*.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Flask
instance/
.webassets-cache

# VS Code
.vscode/
.history/

# Environment variables
.env

# SQLite database
*.db
*.sqlite3

# Logs
*.log

# macOS
.DS_Store